* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  /* letter-spacing: -0.5px; */
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: rgb(43, 96, 194);
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  padding: 80px;
  width: 960px;
  margin: 0 auto;
  padding: 80px;
  background: white;
}

.title {
  font-size: 26px;
}

.subtitle {
  font-size: 22px;
  text-align: center;
}

.main {
  margin-bottom: 40px;
}

.main-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

/* types */

.types {
  margin-bottom: 80px;
}

.types_list {
  border: 2px solid black;
}

.types_item-block {
  display: flex;

}

.types_item-block--border {
  border-bottom: 2px solid black;
}

.types_img-box {
  width: 226px;
  border-right: 2px solid black;
  padding: 12px;
}

.types_img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.types_description {
  padding: 8px 40px;
}

.types_item-title {
  margin-bottom: 0;
  font-size: 22px;
}

.types_description-list {
  margin-bottom: 40px;
}

.types_description-item {
  position: relative;
  padding-left: 10px;
  margin-bottom: 0;
}

.types_description-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.types_description-link {
  padding-left: 20px;
}

/* advantages */

.advantages {
  font-size: 23px;
  margin-bottom: 40px;
}

.advantages-title {
  margin-left: 160px;
  margin-bottom: 32px;
}

.advantages-box--float {
  margin-bottom: 80px;
}

.advantages-text {
  margin-bottom: 50px;
}

.advantages-img {
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 2px;
  margin-bottom: 4px;
}

.advantages-list {
  padding-left: 60px;
}